<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Table of Contents
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Table of Contents</h1>
    <br>
    <h2><a href="chap1">Chapter 1</a></h2>
    <h2><a href="chap2">Chapter 2</a></h2>
    <h2><a href="chap3">Chapter 3</a></h2>
    <h2><a href="chap4">Chapter 4</a></h2>
    <h2><a href="chap5">Chapter 5</a></h2>
    <br>
    <ion-button href="home">Cover</ion-button>
    <ion-button href="chap1">Start</ion-button>
  </div>

</ion-content>