<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lesson 5 Hands On
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <a href="table-of-contents">
    <div id="container">
      <h6>The</h6>
      <h1>Daily Wisdom</h1>
      <h3>Book</h3>
      <img src="https://images.unsplash.com/photo-1566545455366-bcae28fd3929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1656&q=80" />
      <h3>Click anywhere to start!</h3>
    </div>
    </a>
</ion-content>